<div class="row" ng-controller="categoryController">
    <div ng-if="alerts.isAlert" class="alert alert-danger" role="alert">
        {{alerts.alreadyExists}}
    </div>
    <div class="main">
        <div class="logout">
            <button class="btn btn-danger" ng-click="logout()">Log Out</button>
        </div>
        <h2>Categories</h2>
        <div id="loader" class="loader" ng-if="toggleLoader"></div>
        <div class="category-board animate-bottom" ng-if="toggleList">
            <div class="col-sm-12 col-md-3" ng-repeat="category in categories">
                <div class="category-block purple" ng-click="event.redirectToTasks(this)">
                    <h4>{{category.title}}</h4>
                    <div class="icon" ng-click="event.deleteCategory(this, $event)"><i class="fa fa-times"></i></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="category-block empty">
                    <form class="form-inline" name="categoryForm" ng-submit="addCategory(categoryForm.$valid)">
                        <div class="form-group">
                            <input type="text" name="categoryName" class="form-control"
                                   placeholder="New Category" ng-model="category.title" required>
                        </div>
                        <button type="submit" class="btn btn-purple">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
