<div class="row" ng-controller="taskController">
    <div ng-if="alerts.isAlert" class="alert alert-danger" role="alert">
        {{alerts.alertMessage}}
    </div>
    <div class="btn back-button">
        <a ng-href="/#!/category">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            Back to Categories
        </a>
    </div>
    <div class="main">
        <div class="logout">
            <button class="btn btn-danger" ng-click="logout()">Log Out</button>
        </div>
        <h6>Category: {{categoryName}}</h6>
        <h2>Tasks</h2>
        <div id="loader" class="loader" ng-if="toggleLoader"></div>
        <div class="task-board animate-bottom" ng-if="toggleTasks">
            <div class="col-sm-12 col-md-3" ng-repeat="task in tasks">
                <div class="task-panel">
                    <div class="task-header">
                        <h5>{{task.title}}</h5>
                        <div class="icon"><i class="fa fa-trash-o"></i></div>
                    </div>
                    <div class="task-description">
                        {{task.description}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="category-block empty">
                    <form class="task-form" name="taskForm" ng-submit="addCategory(categoryForm.$valid)">
                        <fieldset>
                            <legend>New Task</legend>
                            <div class="form-group">
                                <input type="text" name="taskTitle" class="form-control new-input"
                                       placeholder="Title" autocomplete="off" ng-model="task.title" required>
                                <span class="material-input"></span>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control new-input" placeholder="Description"></textarea>
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-purple">Add</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
